<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Anime Guesser</title>
</head>
<body>
    <header>Score:<%=points%></header>
    <h1>THANKS FOR PLAYING</h1>
    <img id="ichigo" src="/images/comeback-come.gif" alt="Come back image">
    <h2>Your score is <%=points%>, come back to beat it</h2>

    <footer>
        <p>&copy; 2025 Anime Guesser. All rights reserved.</p>
        <p>Made by Arian</p>
    </footer>
</body>
</html>
